
@font-face{
    font-family: 'SF-Pro';
    src: url('../assets/fonts/SF-Pro-Text-Black.otf')
}

@font-face{
    font-family: 'SF-Pro';
    font-weight: bold;
    src: url('../assets/fonts/SF-Pro-Text-Bold.otf')
}

@font-face {
    font-family: 'SF-Pro';
    font-weight: normal;
    src: url('../assets/fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: 'SF-Pro';
    font-weight: 500;
    src: url('../assets/fonts/SF-Pro-Text-Medium.otf')
}




@tailwind base;
@tailwind components;
@tailwind utilities;



.main-screen{
    @apply w-[calc(100vw_-_260px)] flex flex-col
}
